.ourProduct {
    margin-top: 3rem;
    display: flex;
    width: 27vw;
    flex-direction: column;
    justify-content: left;
    /* align-items: center; */
    color: rgb(16, 16, 12);
    background: var(--green);

    border-radius: .5rem;
}

.maincontainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.productContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

.ourProduct_img {
    height: 10rem;
    margin: 2rem auto;
    width: 80%;
}

.ourProduct_heading {
    font-size: 1.8rem;
    color: rgb(7 49 38);
    font-weight: 600;
    margin-left: 2.5rem;
    margin-top: 1rem;
}

.ourProduct_heading2 {
    font-size: 1.8rem;
    font-weight: 600;
    color: rgb(7 49 38);
    /* margin-left: 2.5rem; */
    margin-top: 1rem;
}

.fa-arrow-right {
    background-color: white;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 2rem;
    margin: 1rem 2.5rem;
    border: 1px solid black;

}

.fa-arrow-right:hover {
    background-color: var(--blue);
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 2rem;
    margin: 1rem 2.5rem;
    border: 1px solid black;

}

.ourProduct_Text {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.fa-arrow {
    /* background-color: #cdbcbc; */
    height: 2rem;
    width: 2rem;
    border-radius: 2rem;
    margin: -.8rem .6rem;
}

.ourProduct2 {

    display: flex;
    background: var(--green);
    flex-direction: column;
    color: rgb(19, 19, 17);
    margin-left: 3rem;
    border-radius: .5rem;
}

.ourProduct {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: rgb(16, 16, 12);
    border-radius: .5rem;
    background: var(--green);
}

.productFrist {
    margin: 1rem 2rem;
}

.productcontainer2 {
    background: var(--green);
    display: flex;
    width: 60vw;
    /* margin-left: 1rem; */
    margin-top: 3rem;
    margin-right: 1rem;
    justify-content: center;
    /* align-items: center; */

}

.productcontainer1 {
    background: var(--green);
    display: flex;
    width: 60vw;
    /* margin-left: 1rem; */
    margin-top: 3rem;
    margin-left: 1rem;

    justify-content: center;
    /* align-items: center; */

}

.ourProduct_img2 {
    height: 19rem;
    margin: auto 3rem;
    width: 30%;
    border-radius: 1rem;
}

@media (max-width: 1100px) {
    .productContainer {
        display: flex;
        flex-direction: column;
    }

    .maincontainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ourProduct {
        width: 60vw;
        margin-left: 1rem;
        margin-top: 3rem;
    }
}

@media (max-width: 360px) {
    .productcontainer1,.productcontainer2 {
        background: var(--green);
        display: flex;
        width: 80vw;
        /* margin-left: 1rem; */
        margin-top: 3rem;

        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
.ourProduct{
    flex-direction: column;
    background: var(--green);
    width: 80vw;
    justify-content: left;
    margin-top: 3rem;
    /* align-items: center; */
}

    .ourProduct_img2 {
        width: 70vw;
        margin: 1rem auto;
        height: 10rem;
    }

    .ourProduct_Text {
        display: none;
    }

    .ourProduct_heading2{
        font-size: 1.7rem;

    }

    .ourProduct2{
        display: flex;
        flex-direction: column;
        justify-content: left;
        /* align-items: center; */
        margin-left: 0rem;
    }
    .fa-arrow-right{
        margin-left:0;
    }
   .ourProduct_img2{
    
   }
   /* .productcontainer2{
    display: flex;
    flex-direction: column;
    width: 75vw;
    
   } */

}