/* section 2  hero section*/
.sec2 {
    /* margin-top: 7vh; */
    height: 60rem;
    background-image: url(./hero-variant-c.webp);
   /* position: relative; */
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 40vh;
    /* width: 100%; */
    background-color: var(--blue);
    /* width: auto; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Main_heading {
    font-size: 7rem;
    margin-top: 7rem;
    font-weight: 600;
    color: rgb(30 224 127);
}

.Main_text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.Main_text_first {
    margin: 15vh 15vw;
    display: flex;
    flex-direction: column;

}

.Main_text_first1 {
    margin: 13vh 20vw;
    display: flex;
    flex-direction: column;
}
.Linkcss{
  text-decoration: none;
  list-style: none;
  color: rgb(21, 22, 22);
}
.Main_text_first2 {

    border-radius: .3rem;
    margin: 13vh 13vw;
    display: flex;
    width: 25vw;
    flex-direction: column;

    background-color: var(--blue);
}

.google_img {
    height: 1.2rem;
    background: transparent;
}

.div {
    color: white;
}

.star {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: .5rem .5rem;
}

.fa-regular {
    margin-left: 2rem;
    margin-top: .6rem;

}

@media(max-width:768px) {
    .Main_heading {
        font-size: 4rem;

    }

    .sec2 {
        margin-top: 7vh;
        height: 66rem;
        background-repeat: no-repeat;
        background-position: center;
        background-position: 0 62vh;
        background-color: var(--blue);
        width: auto;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* position: fixed; */
        /* scrollbar-width: none; */

    }

    .Main_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .Main_text_first1 {
        margin: 4vh auto;
        display: flex;
        flex-direction: column;

    }

    .Main_text_first2 {
        width: 30vw;
        margin-top: 92vh;
        border-radius: .2rem;
        display: flex;
        flex-direction: column;
        background-color: var(--blue);
    }

    .btn {

        background: rgb(30 224 127);

        height: 4rem;
        font-size: 1rem;
        font-weight: 600;

    }

}

@media (max-width:360px) {
    .Main_text_first2 {
        width: 50vw;
        margin-top: 60vh;
        border-radius: .2rem;
        display: flex;
        flex-direction: column;
        background-color: var(--blue);
    }

    .sec2 {
        /* margin-top: 7vh; */

        background-repeat: no-repeat;
        background-position: center;
        background-position: -3rem 45vh;
        background-color: var(--blue);
        width: auto;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }
    .Main_heading{
        font-size: 3.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.fa-solid {
    font-size: 1.3rem;

}

.fa-star,
.fa-star-half-stroke {
    color: goldenrod;
}

.regulare {
    margin: .5rem .5rem;
    font-size: .7rem;
    color: white;
}

.btn {

    background: rgb(30 224 127);
    width: 20rem;
    height: 3.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 3rem;
    color: #141416;
    text-align: center;
    display: grid;
    place-items: center;
}

.btn:hover {
    background: var(--blue);
    /* background:rgb(30 224 127); */
    width: 20rem;
    height: 3.5rem;
    font-size: 1.3rem;
    font-weight: 600;
    border-radius: 3rem;
    color: #141416;
    text-align: center;
    display: grid;
    place-items: center;
}