.ThirdSecImg{
  
    /* height: 90vh; */
    width: 23vw;
    /* margin-left: 4rem; */
    border-radius: 2rem;
}
.ThirdSecImg_Text{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    margin-top: -8rem;
}
.Img-div{
  display: flex;
  flex-direction: column;
}
.third_sec{
    display: flex;
    flex-direction: row;
   justify-content: space-around;
   margin-top:4rem;
   align-items: center;
}
.Third_Main_heading{
    font-size: 5rem;
   font: bolder;
    margin-top: 5rem;
    color: rgb(18, 22, 20);
  font-weight: 600;
}
.Third__btn{
    background:var(--blue);
    width: 15rem;
    height: 4rem;
    font-size: 1.2rem;
    margin-left: -7rem;

    font-weight: 600;
    border-radius: 3rem;
    color: #e9e9f2;
    text-align: center;
    margin-top: 2rem;
    /* margin-left: -11rem; */
}
.Third_btn1{
    width: 6vw;
    height: 2.8rem;
    border-radius: 2rem;
    margin: 2rem auto;
    font-size: 1rem;
    margin-right: .5rem;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid rgb(117, 121, 117);
   
}
.Third_btn1:hover{
    width: 6vw;
    color: green;
    height: 2.8rem;
    border-radius: 2rem;
    margin: 2rem auto;
    font-size: 1rem;
    margin-right: .5rem;
    font-weight: 600;
    border: 5px solid green;
    background-color: #fff;

}
.Third__btn:hover{
    background: green;
    width: 15rem;
    height: 4rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 3rem;
    color: #e9e9f2;
    text-align: center;
    margin-top: 2rem;
    /* margin-left: -11rem; */
}
@media (max-width: 768px) {
    .third_sec{
       display: flex;
       flex-direction: column;
       justify-content: center;
       margin-top:4rem;
    }
    .ThirdSecImg{
        width: 45vw;
        /* margin-left: 4rem; */
        border-radius: 2rem;
    }
    .Img-div{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .Third_btn{
        background:var(--blue);
        width: 90vw;
        height: 3rem;
        font-size: 1.4rem;
        border-radius: 2rem;
        margin: 2rem .5rem;
        color: white;
    }
    .Third_btn:hover{
        background: green;
      
    }
    .Third_Main_heading{
        font-size: 3rem;
     
    }
    .betterTag1{
        margin-top: 2rem;
        font-size: 3rem;
    }
    .betterTag2{
        margin-top: .2rem;
        font-size: 3rem;
    }
    .Third__btn1{
        width: 10vw;
        height: 2rem;
        border-radius: 1rem;
        margin: 2rem .5rem;
    }
    .Third__btn1:hover{
        width: 10vw;
        color: green;
        height: 2.8rem;
        border-radius: 2rem;
        margin: 2rem auto;
        font-size: 1rem;
        margin-right: .5rem;
        font-weight: 600;
        border: 5px solid green;
        background-color: #fff;
    }


}
@media (max-width: 360px){
    .Third_btn1{
        width: 25vw;
        height: 2rem;
        border-radius: 1rem;
        margin: 2rem .5rem;
    }
    .Third_btn1:hover{
        color: green;
        height: 2.8rem;
        border-radius: 2rem;
        margin: 2rem auto;
        font-size: 1rem;
        margin-right: .5rem;
        font-weight: 600;
        border: 5px solid green;
        background-color: #fff;
    }
    .ThirdSecImg{
        width: 70vw;
        /* margin-left: 4rem; */
        border-radius: 2rem;
    }
}